      <ion-modal-view>
        <ion-header-bar class="bar bar-header bar-dark">
          <h1 class="title">Your Profile</h1>
          <button class="button button-icon button-clear ion-android-close " ng-click="modal.hide()">
        </button>
        </ion-header-bar>
        <ion-content class="padding">
          <div class="list">
            <label class="item item-input">
              <span class="input-label"> Matric. No. : </span>
              <input ng-model="data.matric"ng-disabled="(data.matric)"type="text">
            </label>
          <label class="item item-input">
              <span class="input-label">Faculty : </span>
              <input ng-model="data.faculty" type="text">
            </label>
        <label class="item item-input">
              <span class="input-label">Department : </span>
              <input ng-model="data.department" type="text">
            </label>
   <label class="item item-input">
              <span class="input-label">Level : </span>
              <input ng-model="data.level" type="text">
            </label>
   
              <label class="item item-input">
              <span class="input-label">password : </span>
              <input ng-model="data.password" type="text">
            </label>
            <button class="button button-full button-energized" ng-click="update(data)">Edit <i class="ion-edit "></i></button>
          </div>
        
        </ion-content>
      </ion-modal-view>