   <!-- TABS -->
<ion-tabs class=" tabs-dark tabs-icon-top tabs-color-light">

  <!-- Dashboard Tab -->
  <ion-tab title="Pdf" icon-off="ion-ios-book-outline" icon-on="ion-ios-book" href="#/menu/tab/book">
    <ion-nav-view name="menu-tab-book"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Audio" icon-off="ion-ios-play-outline" icon-on="ion-ios-play" href="#/menu/tab/chats">
    <ion-nav-view name="menu-tab-chats"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Video" icon-off="ion-ios-videocam-outline" icon-on="ion-ios-videocam" href="#/menu/tab/account">
    <ion-nav-view name="menu-tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>